<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="freecrm.com Web Application  - Test Automation Test Suite">
	<listeners>
		<listener class-name="com.freecrm.qa.common.ExtentReporter" />
	</listeners>
	<test thread-count="1" name="Free CRM App Test Cases for Firefox">
		<parameter name="browser" value="firefox" />
		<classes>			
			<class name="com.freecrm.qa.testCases.LoginPageTest"></class>			
			<class name="com.freecrm.qa.testCases.MyHomePageTest"></class>
		</classes>
	</test>
	<!-- 
	<test thread-count="1" name="Free CRM Application - Test Cases for Chrome">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.freecrm.qa.testCases.LoginPageTest"></class>
			<class name="com.freecrm.qa.testCases.MyHomePageTest"></class>
		</classes>
	</test>
	<test thread-count="1" name="Free CRM Application - Test Cases for IE">
		<parameter name="browser" value="ie" />
		<classes>
			<class name="com.freecrm.qa.testCases.LoginPageTest"></class>
			<class name="com.freecrm.qa.testCases.MyHomePageTest"></class>
		</classes>
	</test>
	<test thread-count="1" name="Free CRM Application - Test Cases for Edge">
		<parameter name="browser" value="edge" />
		<classes>
			<class name="com.freecrm.qa.testCases.LoginPageTest"></class>
			<class name="com.freecrm.qa.testCases.MyHomePageTest"></class>
		</classes>
	</test>
	  -->
</suite>